@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "normalize.css"; */
/* @import-normalize; */
.link {
  transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3) 0s;
}

.link:hover {
  transform: scale(1.02);
}

@media screen and (max-width: 1199px) {
  .link:hover {
    transform: none;
  }
}
